/*
Colors: none
*/

/**{
	/* Disregard default margins & paddings */
	/*margin:0;
	padding:0;

	/* Padding and border included in element width  */
	/*box-sizing: border-box;
    -moz-box-sizing: border-box;
}

/* Instead of using html/body tag */
/*html, body{
	height:100%;
	width:100%;
}*/
body{
	background-color: #dddddd;
}

#result{
	font-style: bold;
	font-size: 5em;
}
